@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* :root{
    --prim-color : #30346b;
    --sec-color: #666eb7;
} */

*{
    box-sizing: border-box;
}
div{
    display: inline;
}
body{
    /* background-color: rgb(69, 63, 63) /*var(--prim-color) ; */
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; */
    margin: 0px;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    cursor: pointer;
}
.nav{
    /* cursor: pointer; */
    position: fixed;
    padding-left: 49px;
    padding: 60px;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 1000vw;
    background-color: #595fb7;
    /* height:100vh ; */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav.visible{
    top: 33px;
    left: 89px;
    transform: translateX(0);
}

/* .nav-black{
    background-color: rgb(34 ,31, 31);
    width: 50%;
    max-width: 480px;
    min-width: 320px;
} */
#form{
    margin-left: 0;
    margin-right: 13px;
} 
.nav-red{
    background-color: black;
    width: 39%;
}
.nav-white{
    background-color: white;
    width:230% ;
    padding: 40px;
    position: relative;
}
.text{
    text-transform: uppercase;
}

.nav-btn{
    border: none;
    background-color: transparent; 
    cursor: pointer;
    font-size: 20px;
    /* margin: 20px;
    padding: 12px;
    width: 5%;
    height: 5%; */
}

/* .open-btn{
    position: fixed;
    top: 33px;
    left: 13px;
}

.close-btn{
    opacity: 0.7;
    position: absolute;
    top: 35px ;
    right: 218px;
    cursor: pointer; */
/* } */
/* .list{
    margin: 40px 0;
    list-style-type: none;
    padding-left: 35px;
}
.list li{
    margin: 20px 0;
}
.list li a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.list ul{
    list-style-type: none;
    padding-left: 20px;
} */
header{
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    background-color: #636893;/*var(--sec-color);*/
}
 header h1{
    justify-content: flex-start;
    margin-right: 400px;
 }

.search{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 20px;
    color: white;
}

.search:invalid {
    animation: shake .4s ease-in-out;
}

/* @keyframes shake {
    25%{transform: translateX(4px);}
    50%{transform: translate(-4px);}
    75%{transform: translateX(4px);}
} */


@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
.search::placeholder{
    color: white;
}

.search:focus{
    outline: none;
    /* background-color: #595fb7; */
}

main{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px;
    padding: 82px; */
    position: absolute;
    z-index: -1;
}

.movie{
    width: 345px;
    margin: 1rem;
    background-color: rgb(69, 63, 63);/*var(--sec-color);*/
    box-shadow: 0 4px 5px rgb(69, 63, 63);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img{
    width: 100%;
}

.movieinfo{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movieinfo h3{
    margin-top: 0;

}

.movieinfo span{
    background-color: /*var(--prim-color);*/black;
    padding: 0.25rem 0.5rem;
    border-radius: 2px ;
    font-weight: bold;
}

.movieinfo span.green{
    color: rgb(93, 210, 93);

}

.movieinfo span.orange{
    color: rgb(198, 162, 94);
    
}

.movieinfo span.red{
    color: rgb(196, 41, 41);
    
}

.overview{
    background-color: white;
    padding: 2rem;
    position: absolute;
    left :0 ;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

/* .fa.fa-search{ */
    /* top: 10px; */
    /* right: 20px; */
    /* padding-right: 20px; */
    /* font-size: 25px; */
    /* border: 2px solid white; */
/* } */

.back-btn{
    padding: 12px;
    position: absolute;
    top: 21px;
    left: 1174px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 31px;
}

/* .next-btn{
    padding: 12px;
    position: absolute;
    top: 21px;
    left: 1470px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 31px;
} */